.container.main{
    margin-top: 3.0em;
}
#delete{
    display: inline;
}


#cross1{
    border-radius: 50%;
}
#cross2{
    border-radius: 50%;
}
#cross3{
    border-radius: 50%;
}
.row1{
    width: 21%;
}
.row2{
    width: 16%;
}
.row3{
    width: 7%;
}
.row4{
    width: 38%;
}
.row5{
    width: 18%;
}
