.container.main{
    margin-top: 3.0em;
}
#delete{
    display: inline;
}


#cross1{
    border-radius: 50%;
}
#cross2{
    border-radius: 50%;
}
#cross3{
    border-radius: 50%;
}
.row1{
    width: 19%;
}
.row2{
    width: 16%;
}
.row3{
    width: 5%;
}
.row4{
    width: 30%;
}
.row5{
    width: 30%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
