body {
  background-color: #000;
  font-family: 'Times New Roman', Times, serif;
}
.primary-color {
  color: rgb(219, 132, 60);
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 30vh;
}
#landing-header h1 {
  color: #fff;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
    background-image: url(../media/yogdaan6.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(../media/image4.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(../media/yogdaan5.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(../media/pic2.jpeg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(../media/yogdaan.jpg);
    animation-delay: 40s; 
  }
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}    

a {
  margin: 2px;
  padding: 0.5em;
  width: 50%;
  height: 50vh;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  background: rgba(12, 14, 22, 0.4);
}


.glow-on-hover {
  width: 500px;
  height: 200px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(45, 97, 128);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}