    <!-- TODO: Add SDKs for Firebase products that you want to use
    	 https://firebase.google.com/docs/web/setup#available-libraries -->

		 <script>
			// Your web app's Firebase configuration
			// Your web app's Firebase configuration
			var firebaseConfig = {
    			apiKey: "AIzaSyCcd02Dsm38Qt_y260JhEKfFteyZqiIvlM",
    			authDomain: "yogdaan-268ac.firebaseapp.com",
    			databaseURL: "https://yogdaan-268ac.firebaseio.com",
    			projectId: "yogdaan-268ac",
    			storageBucket: "yogdaan-268ac.appspot.com",
    			messagingSenderId: "812802346911",
    			appId: "1:812802346911:web:b623a1cf5876a9c17037aa"
  			};
  		// Initialize Firebase
			firebase.initializeApp(firebaseConfig);
			const db = firebase.firestore();
            db.settings({ timestampsInSnapshots: true }); 
		  </script>
    </body>
</html>