<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yogdaan</title>
    <link rel="shortcut icon" type="image/png" href="/media/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <!--Script Firebase-->
	<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>
    <!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Javascript-->
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Yogdaan</div>
            <a href="/" class="item">Home</a>
            <a href="/request" class="item">Request</a>
            <a href="/blogs" class="item">Blogs</a>
            <a href="/blogs/new" class="item">Add Blog</a>
        </div>
    </div>