<!DOCTYPE HTML>

<html>
	<head>
		<title>Yogdaan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css1/main.css" />
		<noscript><link rel="stylesheet" href="/css1/mine.css" /></noscript>
        <style>
            .button {
                margin-left: 10px;
            }
        </style>
        
        
        
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Yogdaan</h2>
                            <p>A step towards humanity</p><br>
                            <a class="button" type="button" href="/login" style="margin-top: 10px" >Login</a>
						</header>
						<span class="image"><img src="/media/pic01.jpg" alt="" /></span>
					</div>
					
				</section>


		</div>

		
	</body>
</html>